apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyseerr
    namespace: jellyseerr
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyseerr
            version: 12.7.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyseerr
    values:
        global:
            stopAll: true
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        credentials:
            jellyseerr:
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                bucket: ${VOLSYNC_S3_BUCKET}
                encrKey: ${VOLSYNC_S3_ENCKEY}
                name: jellyseerr
                path: ""
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                type: s3
                url: ${VOLSYNC_S3_URL}
        ingress:
            main:
                enabled: false
        persistence:
            config:
                enabled: true
                mountPath: /app/config
                readOnly: false
                size: ""
                storageClass: ""
                volsync:
                    - credentials: jellyseerr
                      dest:
                        enabled: true
                      name: cfg
                      src:
                        enabled: true
                      type: restic
        podOptions:
            hostNetwork: false
        release_name: jellyseerr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                runAsGroup: 568
                runAsUser: 568
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${MEDIA_IP}"
                ports:
                    main:
                        port: 10240
                type: LoadBalancer
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                JELLYFIN_TYPE: ""
                                LOG_LEVEL: info
                                PORT: '{{ .Values.service.main.ports.main.port }}'
                                API_KEY: 
                replicas: 1
                type: Deployment
