apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyseerr
    namespace: jellyseerr
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyseerr
            version: 13.13.22
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyseerr
    values:
        global:
            stopAll: false
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
        credentials:
            jellyseerr:
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                bucket: ${VOLSYNC_S3_BUCKET}
                encrKey: ${VOLSYNC_S3_ENCKEY}
                name: jellyseerr
                path: ""
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                type: s3
                url: ${VOLSYNC_S3_URL}
        ingress:
          main:
            enabled: true
            ingressClassName: external
            integrations:
              traefik:
                enabled: false
            annotations:
              nginx.ingress.kubernetes.io/auth-method: 'GET'
              nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
              nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
              nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email' 
            hosts:
              - host: req.${DOMAIN_0}
                paths:
                  - path: /
                    pathType: Prefix
        persistence:
            config:
                enabled: true
                mountPath: /app/config
                volsync:
                    - credentials: jellyseerr
                      dest:
                        enabled: false
                      name: cfg
                      src:
                        enabled: true
                      type: restic
        release_name: jellyseerr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                runAsGroup: 568
                runAsUser: 568
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${MEDIA_IP}"
                ports:
                    main:
                        port: 10240
                type: LoadBalancer
        workload:
            main:
                replicas: 1
                type: Deployment
