apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: flaresolverr
    namespace: flaresolverr
spec:
    interval: 15m
    chart:
        spec:
            chart: flaresolverr
            version: 15.5.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: flaresolverr
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        ingress:
            main:
                enabled: false
        persistence:
            config:
                enabled: true
                mountPath: /config
        release_name: flaresolverr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: 0
                runAsNonRoot: false
                runAsUser: 0
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                ports:
                    main:
                        port: 8191
                        targetPort: 8191
                type: LoadBalancer
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                BROWSER_TIMEOUT: 40000
                                CAPTCHA_SOLVER: none
                                HEADLESS: true
                                HOST: 0.0.0.0
                                LOG_HTML: false
                                LOG_LEVEL: info
                                PORT: '{{ .Values.service.main.ports.main.port }}'
                                TEST_URL: https://www.google.com
                replicas: 1
                type: Deployment
