apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: radarr
    namespace: radarr
spec:
    interval: 15m
    chart:
        spec:
            chart: radarr
            version: 23.23.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: radarr
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        credentials:
            radarr:
                name: radarr
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
          main:
            enabled: true
            ingressClassName: internal
            hosts:
              - host: rad.${DOMAIN_0}
                paths:
                  - path: /
                    pathType: Prefix
            integrations:
              traefik:
                enabled: false
                entrypoints:
                  - web
                  - websecure
                middlewares:
                  - name: auth
                    namespace: traefik
              certManager:
                enabled: true
                certificateIssuer: ${CERT_ISSUER}
        persistence:
            config:
                enabled: true
                readOnly: false
                size: ""
                storageClass: ""
                targetSelector:
                    main:
                        main:
                            mountPath: /config
                volsync:
                    - credentials: radarr
                      dest:
                        enabled: true
                      name: cfg
                      src:
                        enabled: true
                      type: restic
            data-vol:
                enabled: true
                type: nfs
                mountPath: /data
                path: /mnt/PoolTwo/data
                server: ${MEDIA_LOCAL_NAS_IP}
        release_name: radarr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: ${MEDIA_GROUP}
                runAsUser: ${MEDIA_USER}
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${MEDIA_IP}"
                ports:
                    main:
                        port: 7878
                type: LoadBalancer
        updated: true
        workload:
            main:
                replicas: 1
                type: Deployment
