apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: syncthing
    namespace: syncthing
spec:
    interval: 15m
    chart:
        spec:
            chart: syncthing
            version: 20.7.2
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: syncthing
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        credentials:
            syncthing:
                name: syncthing
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
          main:
            enabled: true
            hosts:
            - host: sync.${DOMAIN_0}
            integrations:
            traefik:
                enabled: true
                entrypoints:
                  - web
                  - websecure
                middlewares:
                  - name: auth
                    namespace: traefik
            certManager:
                enabled: true
                certificateIssuer: ${CERT_ISSUER}
        persistence:
            config:
                enabled: true
                mountPath: /var/syncthing
                readOnly: false
                storageClass: ""
                volsync:
                    - credentials: syncthing
                      dest:
                        enabled: true
                      name: cfg
                      src:
                        enabled: true
                      type: restic
            data-vol:
                enabled: true
                type: nfs
                mountPath: /data
                path: /mnt/PoolTwo/data
                server: ${MEDIA_LOCAL_NAS_IP}
            other-vol:
                enabled: true
                type: nfs
                mountPath: /other
                path: /mnt/PoolTwo/other
                server: ${MEDIA_LOCAL_NAS_IP}
        podOptions:
            hostNetwork: false
        release_name: syncthing
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                runAsGroup: ${MEDIA_GROUP}
                runAsUser: ${MEDIA_USER}
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            discovery:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                ports:
                    discovery:
                        enabled: true
                        port: 21027
                        protocol: udp
                        targetPort: 21027
                type: LoadBalancer
            listeners:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                ports:
                    tcp:
                        enabled: true
                        port: 22000
                        targetPort: 22000
                type: LoadBalancer
            listeners-udp:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                ports:
                    udp:
                        enabled: true
                        port: 22000
                        protocol: udp
                        targetPort: 22000
                type: LoadBalancer
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                ports:
                    main:
                        port: 8384
                        targetPort: 8384
                type: LoadBalancer
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            probes:
                                liveness:
                                    path: /rest/noauth/health
                                readiness:
                                    path: /rest/noauth/health
                                startup:
                                    path: /rest/noauth/health
                replicas: 1
                type: Deployment
