apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: qbitmanage
    namespace: qbitmanage
spec:
    interval: 15m
    chart:
        spec:
            chart: qbitmanage
            version: 10.7.0
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: qbitmanage
    values:
        global:
            stopAll: false
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        persistence:
            config:
                enabled: true
                mountPath: /config
                readOnly: false
                storageClass: ""
                volsync:
                    - credentials: qbitmanage
                      dest:
                        enabled: false
                      name: cfg
                      src:
                        enabled: false
                      type: restic
            data:
                enabled: true
                mountPath: /data
                readOnly: false
                storageClass: ""
        release_name: qbitmanage
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: 0
                runAsNonRoot: false
                runAsUser: 0
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: false
                ports:
                    main:
                        enabled: false
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                QBT_CAT_UPDATE: false
                                QBT_CROSS_SEED: false
                                QBT_DIVIDER: =
                                QBT_DRY_RUN: false
                                QBT_LOG_LEVEL: INFO
                                QBT_RECHECK: false
                                QBT_REM_ORPHANED: true
                                QBT_REM_UNREGISTERED: false
                                QBT_RUN: false
                                QBT_SCHEDULE: 30
                                QBT_SHARE_LIMITS: false
                                QBT_SKIP_CLEANUP: false
                                QBT_SKIP_QB_VERSION_CHECK: false
                                QBT_TAG_NOHARDLINKS: true
                                QBT_TAG_TRACKER_ERROR: true
                                QBT_TAG_UPDATE: false
                                QBT_WIDTH: 100
                            probes:
                                liveness:
                                    enabled: false
                                readiness:
                                    enabled: false
                                startup:
                                    enabled: false
                replicas: 1
                type: Deployment
