---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: authelia
  namespace: authelia
spec:
  interval: 15m
  chart:
    spec:
      chart: authelia
      version: 29.33.1
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
      authelia:
          name: authelia
          type: s3
          url: ${VOLSYNC_S3_URL}
          bucket: ${VOLSYNC_S3_BUCKET}
          accessKey: ${VOLSYNC_S3_ACCESSKEY}
          secretKey: ${VOLSYNC_S3_SECRETKEY}
          encrKey: ${VOLSYNC_S3_ENCKEY}
    ingress:
        main:
          enabled: true
          ingressClassName: external
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-1-le-prod
          hosts:
            - host: ${DOMAIN_0}
            - host: auth.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    cnpg:
      main:
        backups:
          enabled: false
          credentials: authelia
    persistence:
      config:
        volsync:
          - name: config
            type: restic
            credentials: authelia
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 10 0 * * *
    workload:
      main:
        replicas: 1
        podSpec:
          containers:
            main:
              env:
                AUTHELIA_SESSION_SECRET: ${AUTHELIA_SESSION_KEY}
                AUTHELIA_IDENTITY_VALIDATION_RESET_PASSWORD_JWT_SECRET: ${AUTHELIA_JWT_KEY}
                # AUTHELIA_STORAGE_ENCRYPTION_KEY: ${AUTHELIA_ENCRYPTION_KEY}
    authelia:
      theme: auto
      totp:
        disable: false
        issuer: ${DOMAIN_0}
      authentication_backend:
        ldap:
          address: ldap://lldap-ldap.lldap.svc.cluster.local:3890
          tls:
            server_name: lldap.${DOMAIN_0}
          base_dn: DC=${DN},DC=${DC}
          attributes:
            username: uid
          additional_users_dn: ou=people
          users_filter: (&(|({username_attribute}={input})({mail_attribute}={input}))(objectClass=person))
          additional_groups_dn: ou=groups
          groups_filter: (member={dn})
          user: uid=admin,ou=people,dc=${DN},dc=${DC}
          password: ${LLDAP_PASSWORD}
      access_control:
        default_policy: deny
        rules:
          - domain: "*.${DOMAIN_0}"
            policy: bypass
            resources:
            - "^/api([/?].*)?$"
            - "^/api([/?].*)?$"
            - "^?apikey([=].*)?$"
            - "^?apiKey([=].*)?$"
            - "^/identity.*$"
            - "^/triggers.*$"
            - "^/meshagents.*$"
            - "^/meshsettings.*$"
            - "^/agent.*$"
            - "^/control.*$"
            - "^/meshrelay.*$"
            - "^/feed([/?].)$"
            - "^/wl.*$"
          - domain:
              - "${DOMAIN_0}"
              - "*.${DOMAIN_0}"
            policy: two_factor
            subject:
              - 'group:admin'
              - 'user:admin'
          - domain:
              - "lldap.${DOMAIN_0}"
              - "kube.${DOMAIN_0}"
              - "pc.${DOMAIN_0}"
              - "ub.${DOMAIN_0}"
              - "true.${DOMAIN_0}"
              - "sync.${DOMAIN_0}"
              - "steam.${DOMAIN_0}"
              - "qb.${DOMAIN_0}"
              - "ck.${DOMAIN_0}"
              - "tube.${DOMAIN_0}"
            policy: deny
            subject:
              - 'group:users'
          - domain:
              - "son.${DOMAIN_0}"
              - "lid.${DOMAIN_0}"
              - "req.${DOMAIN_0}"
              - "read.${DOMAIN_0}"
              - "prow.${DOMAIN_0}"
              - "rad.${DOMAIN_0}"
              - "baz.${DOMAIN_0}"
            policy: two_factor
            subject:
              - 'group:media_users'
      session:
        cookies:
          - domain: '${DOMAIN_0}'
            authelia_url: 'https://auth.${DOMAIN_0}'
            default_redirection_url: 'https://${DOMAIN_0}'
      regulation:
        find_time: 10m
        ban_time: 12h
      notifier:
        smtp:
          address: smtp://smtp.protonmail.ch:587
          username: ${SMTP_USER}
          password: ${SMTP_PASSWORD_AUTHELIA}
          sender: admin@${DOMAIN_0}
          startup_check_address: admin@${DOMAIN_0}
          disable_html_emails: false
          tls:
            server_name: smtp.protonmail.ch
            skip_verify: false
