apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: netbootxyz
    namespace: netbootxyz
spec:
    interval: 15m
    chart:
        spec:
            chart: netbootxyz
            version: 6.5.1
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: netbootxyz
    values:
        global:
            stopAll: false
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        credentials:
            netbootxyz:
                name: netbootxyz
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
            main:
                enabled: false
        persistence:
            config:
                enabled: true
                mountPath: /config
            assets:
                enabled: true
                type: nfs
                mountPath: /assets
                path: /mnt/PoolTwo/data/ipxe-assets/
                server: ${MEDIA_LOCAL_NAS_IP}
        release_name: netbootxyz
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                privileged: true
                readOnlyRootFilesystem: false
                runAsGroup: 0
                runAsUser: 0
                capabilities:
                    add:
                      - SYS_CHROOT
            pod:
                fsGroupChangePolicy: OnRootMismatch

        service:
            main:
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                type: LoadBalancer
                ports:
                    main:
                        enabled: true
                        protocol: http
                        targetPort: 3000
                        port: 10612
            assets:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                type: LoadBalancer
                ports:
                    assets:
                        enabled: true
                        protocol: http
                        targetPort: 80
                        port: 10613
            tftp:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${SERVICES_IP}"
                type: LoadBalancer
                ports:
                    tftp:
                        enabled: true
                        port: 69
                        protocol: udp
                        targetPort: 69
        
        workload:
          main:
            podSpec:
            containers:
                main:
                env:
                    MENU_VERSION: ""
        portal:
          open:
            enabled: true