---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lldap
  namespace: lldap
spec:
  interval: 15m
  chart:
    spec:
      chart: lldap
      version: 8.13.16
      sourceRef:
        kind: HelmRepository
        name: truecharts
        namespace: flux-system
      interval: 15m
  timeout: 5m
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    global:
      stopAll: false
    credentials:
        lldap:
            name: lldap
            type: s3
            url: ${VOLSYNC_S3_URL}
            bucket: ${VOLSYNC_S3_BUCKET}
            accessKey: ${VOLSYNC_S3_ACCESSKEY}
            secretKey: ${VOLSYNC_S3_SECRETKEY}
            encrKey: ${VOLSYNC_S3_ENCKEY}
    ingress:
        main:
          ingressClassName: external
          enabled: true
          integrations:
            traefik:
              enabled: false
            certManager:
              enabled: true
              certificateIssuer: domain-1-le-prod
          annotations:
            nginx.ingress.kubernetes.io/auth-method: 'GET'
            nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
            nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
            nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
          hosts:
            - host: lldap.${DOMAIN_0}
              paths:
                - path: /
                  pathType: Prefix
    workload:
      main:
        podSpec:
          containers:
            main:
              env:
                LLDAP_HTTP_URL: https://lldap.${DOMAIN_0}
                LLDAP_LDAP_BASE_DN: dc=${DN},dc=${DC}
                LLDAP_LDAP_USER_DN: admin
                LLDAP_LDAP_USER_EMAIL: ${LDAP_USER_EMAIL}
                LLDAP_LDAP_USER_PASS: ${LLDAP_PASSWORD}
                LLDAP_SMTP_OPTIONS__FROM: LLDAP Admin <admin@${DOMAIN_0}>
                LLDAP_SMTP_OPTIONS__PASSWORD: ${SMTP_PASSWORD_LLDAP}
                LLDAP_SMTP_OPTIONS__PORT: ${SMTP_PORT}
                LLDAP_SMTP_OPTIONS__REPLY_TO: Do not reply <admin@${DOMAIN_0}>
                LLDAP_SMTP_OPTIONS__SERVER: smtp.protonmail.ch
                LLDAP_SMTP_OPTIONS__SMTP_ENCRYPTION: TLS
                LLDAP_SMTP_OPTIONS__USER: ${SMTP_USER}
                LLDAP_VERBOSE: false
                LLDAP_key_file: /data/private_key
    cnpg:
      main:
        backups:
          enabled: true
          credentials: lldap
          scheduledBackups:
            - name: daily-backup
              schedule: "0 5 0 * * *"
              backupOwnerReference: self
              immediate: true
              suspend: false
        recovery:
          method: object_store
          credentials: lldap
    persistence:
      data:
        volsync:
          - name: data
            type: restic
            credentials: lldap
            dest:
              enabled: true
            src:
              enabled: true
              trigger:
                schedule: 20 0 * * *
