apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: prowlarr
    namespace: prowlarr
spec:
    interval: 15m
    chart:
        spec:
            chart: prowlarr
            version: 21.3.22
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: prowlarr
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
        credentials:
            prowlarr:
                name: prowlarr
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
          main:
            enabled: true
            ingressClassName: external
            integrations:
              traefik:
                enabled: false
            annotations:
              nginx.ingress.kubernetes.io/auth-method: 'GET'
              nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
              nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
              nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email' 
            hosts:
              - host: prow.${DOMAIN_0}
                paths:
                  - path: /
                    pathType: Prefix
        persistence:
            config:
                enabled: true
                targetSelector:
                    main:
                        main:
                            mountPath: /config
                volsync:
                    - credentials: prowlarr
                      dest:
                        enabled: true
                      name: cfg
                      src:
                        enabled: true
                      type: restic
        release_name: prowlarr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: 568
                runAsUser: 568
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${MEDIA_IP}"
                ports:
                    main:
                        port: 9696
                type: LoadBalancer
        updated: true
        workload:
            main:
              podSpec:
                containers:
                    main:
                      env:
                        PROWLARR__AUTH__METHOD: "External"
                replicas: 1
                type: Deployment
