apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: prowlarr
    namespace: prowlarr
spec:
    interval: 15m
    chart:
        spec:
            chart: prowlarr
            version: 18.15.4
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: prowlarr
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
            vpn:
                type: disabled
        configmap:
            dashboard:
                data:
                    prowlarr.json: '{{ .Files.Get "dashboard.json" | indent 8 }}'
                enabled: true
                labels:
                    grafana_dashboard: "1"
        credentials:
            prowlarr:
                name: prowlarr
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
            main:
                enabled: false
        metrics:
            main:
                enabled: false
                endpoints:
                    - path: /metrics
                      port: metrics
                prometheusRule:
                    enabled: false
                targetSelector: metrics
                type: servicemonitor
        persistence:
            config:
                enabled: true
                readOnly: false
                size: ""
                storageClass: ""
                targetSelector:
                    main:
                        main:
                            mountPath: /config
                volsync:
                    - credentials: prowlarr
                      dest:
                        enabled: true
                      name: cfg
                      src:
                        enabled: true
                      type: restic
        podOptions:
            dnsConfig:
                nameservers:
                    - 8.8.8.8
                    - 8.8.4.4
            hostNetwork: false
        release_name: prowlarr
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: 568
                runAsUser: 568
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${MEDIA_IP}"
                ports:
                    main:
                        port: 9696
                type: LoadBalancer
        updated: true
        workload:
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                PROWLARR__AUTHENTICATION_METHOD: ""
                                PROWLARR__PORT: '{{ .Values.service.main.ports.main.port }}'
                            probes:
                                liveness:
                                    path: /ping
                                readiness:
                                    path: /ping
                                startup:
                                    type: tcp
                replicas: 1
                type: Deployment
