apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: steam-headless
    namespace: steam-headless
spec:
    interval: 15m
    chart:
        spec:
            chart: steam-headless
            version: 6.5.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: steam-headless
    values:
        global:
            stopAll: false
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
        credentials:
            steam-headless:
                name: steam-headless
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        ingress:
          main:
            enabled: true
            ingressClassName: external
            integrations:
              traefik:
                enabled: false
            annotations:
              nginx.ingress.kubernetes.io/auth-method: 'GET'
              nginx.ingress.kubernetes.io/auth-url: 'http://authelia.authelia.svc.cluster.local:9091/api/verify'
              nginx.ingress.kubernetes.io/auth-signin: 'https://auth.${DOMAIN_0}?rm=$request_method'
              nginx.ingress.kubernetes.io/auth-response-headers: 'Remote-User,Remote-Name,Remote-Groups,Remote-Email'
            hosts:
              - host: steam.${DOMAIN_0}
                paths:
                  - path: /
                    pathType: Prefix
        persistence:
            home:
                enabled: true
                mountPath: /home/default        
                volsync:
                    - credentials: steam-headless
                      dest:
                        enabled: false
                      name: cfg
                      src:
                        enabled: false
                      type: restic
            games:
                enabled: true
                type: nfs
                mountPath: /mnt/games
                path: /mnt/PoolTwo/data/games
                server: ${MEDIA_LOCAL_NAS_IP}
            flatpak:
                enabled: true
                mountPath: /var/lib/flatpak
                volsync:
                    - credentials: steam-headless
                      dest:
                        enabled: false
                      name: cfg
                      src:
                        enabled: false
                      type: restic
        release_name: steam-headless
        resources: {}
        securityContext:
            container:
                UMASK: "0000"
                privileged: true
                runAsGroup: 0
                runAsUser: 0
        service:
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${PLAYBACK_IP}"
                type: LoadBalancer
                ports:
                    main:
                        enabled: true
                        port: 8083
                    steam-udp-27031:
                        enabled: true
                        port: 27031
                        protocol: udp
                    steam-udp-27032:
                        enabled: true
                        port: 27032
                        protocol: udp
                    steam-udp-27033:
                        enabled: true
                        port: 27033
                        protocol: udp
                    steam-udp-27034:
                        enabled: true
                        port: 27034
                        protocol: udp
                    steam-udp-27035:
                        enabled: true
                        port: 27035
                        protocol: udp
                    steam-udp-27036:
                        enabled: true
                        port: 27036
                        protocol: udp
                    steam-tcp-27040:
                        enabled: true
                        port: 27040
                        protocol: tcp
        workload:
          main:
            podSpec:
            containers:
                main:
                probes:
                    liveness:
                        enabled: false
                    readiness:
                        enabled: false
                    startup:
                        enabled: false
                env:
                    PORT_NOVNC_WEB: "{{ .Values.service.main.ports.main.port }}"
                    MODE: "primary"
                    # MODE = secondary
                    # DISPLAY: :0
                    # HOST_DBUS: true
                    WEB_UI_MODE: "vnc"
                    ENABLE_VNC_AUDIO: false
                    # NEKO_NAT1TO1: "" needs to be the ip of the host
                    ENABLE_SUNSHINE: false
                    # SUNSHINE_USER: ""
                    # SUNSHINE_PASS: ""
                    # USER_PASSWORD: ""
                    ENABLE_EVDEV_INPUTS: false
                    ENABLE_STEAM: true
        portal:
          open:
            enabled: true