apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: jellyfin
    namespace: jellyfin
spec:
    interval: 15m
    chart:
        spec:
            chart: jellyfin
            version: 21.7.3
            sourceRef:
                kind: HelmRepository
                name: truecharts
                namespace: flux-system
    releaseName: jellyfin
    values:
        TZ: America/Los_Angeles
        addons:
            codeserver:
                enabled: false
            netshoot:
                enabled: false
        autodiscovery:
            enabled: true
        credentials:
            jellyfin:
                name: jellyfin
                type: s3
                url: ${VOLSYNC_S3_URL}
                bucket: ${VOLSYNC_S3_BUCKET}
                accessKey: ${VOLSYNC_S3_ACCESSKEY}
                secretKey: ${VOLSYNC_S3_SECRETKEY}
                encrKey: ${VOLSYNC_S3_ENCKEY}
        persistence:
            config:
                volsync:
                    - credentials: jellyfin
                      dest:
                        enabled: false
                      name: cfg
                      src:
                        enabled: false
                      type: restic
            # cache:
            #     enabled: true
            #     mountPath: /cache
            #     type: emptyDir
            # transcode:
            #     enabled: true
            #     mountPath: /config/transcodes
            #     readOnly: false
            #     storageClass: ""
            media-vol:
                enabled: true
                type: nfs
                mountPath: /data/media
                path: /mnt/PoolTwo/data/media
                server: ${MEDIA_LOCAL_NAS_IP}
        release_name: jellyfin
        resources: {}
        securityContext:
            container:
                UMASK: "0022"
                readOnlyRootFilesystem: false
                runAsGroup: ${MEDIA_GROUP}
                runAsUser: ${MEDIA_USER}
                hostNetwork: false
            pod:
                fsGroupChangePolicy: OnRootMismatch
        service:
            autodiscovery:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${PLAYBACK_IP}"
                ports:
                    autodiscovery:
                        enabled: true
                        port: 7359
                        protocol: udp
                        targetPort: 7359
                type: LoadBalancer
            main:
                enabled: true
                sharedKey: custom-shared-key
                loadBalancerIP: "${PLAYBACK_IP}"
                ports:
                    main:
                        port: 8096
                        targetPort: 8096
                type: LoadBalancer
        updated: true
        workload:
            broadcastproxy:
                enabled: false
                podSpec:
                    containers:
                        broadcastproxy:
                            args:
                                - -c
                                - export TARGET_IP=$(getent hosts '{{ printf "%v-autodiscovery" (include "tc.v1.common.lib.chart.names.fullname" $) }}' | awk '{ print $1 }') && [[ ! -z $TARGET_IP ]] && touch /tmp/healthy && socat UDP4-LISTEN:7359,fork,reuseaddr,rcvbuf=8096 UDP4-SENDTO:${TARGET_IP}:7359,rcvbuf=8096 ; rm -rf /tmp/healthy
                            command:
                                - /bin/sh
                            enabled: true
                            imageSelector: broadcastProxyImage
                            primary: true
                            probes:
                                liveness:
                                    command:
                                        - cat
                                        - /tmp/healthy
                                    enabled: true
                                    type: exec
                                readiness:
                                    command:
                                        - cat
                                        - /tmp/healthy
                                    enabled: true
                                    type: exec
                                startup:
                                    command:
                                        - cat
                                        - /tmp/healthy
                                    enabled: true
                                    type: exec
                            securityContext:
                                readOnlyRootFilesystem: true
                    hostNetwork: false
                    terminationGracePeriodSeconds: 3
                type: DaemonSet
            main:
                podSpec:
                    containers:
                        main:
                            env:
                                JELLYFIN_PublishedServerUrl: '{{ $.Values.chartContext.appUrl }}'
                replicas: 1
                type: Deployment
        ingress:
          main:
            enabled: true
            ingressClassName: external
            integrations:
                traefik:
                    enabled: false
            hosts:
                - host: jf.${DOMAIN_0}
                  paths:
                    - path: /
                      pathType: Prefix